<ion-content>
    <ion-grid>
    <ion-row>
      <ion-col size="1">
        <ion-icon style="margin-top:10px;" name="arrow-dropleft-circle" size="large" color="primary"></ion-icon>
      </ion-col>
      <ion-col >
        <img src="/assets/icon/logo.png" style="padding-left:10px;">
      </ion-col>
    </ion-row>
  </ion-grid>
  
        <ion-item>
          <ion-label position="floating">Servicio:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Equipo:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <div class="ion-text-center" style="font-size:56px;"> 
             <ion-icon name="camera" ></ion-icon>
        </div>  
        <div padding>      
          <img src="/assets/shapes.svg">
        </div>
      <ion-grid padding>
        <ion-row>
          <ion-col>
            Adjuntar Archivo
          </ion-col>
          <ion-col>
            <a > Agregar Archivo</a>
          </ion-col>
        </ion-row>
      </ion-grid>
        <ion-item>
          <ion-label position="floating">Comentario:</ion-label>
          <ion-textarea rows="5"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Estatus del Equipo:</ion-label>
          <ion-select>
            <ion-select-option value="brown">Brown</ion-select-option>
            <ion-select-option value="blonde">Blonde</ion-select-option>
            <ion-select-option value="black">Black</ion-select-option>
            <ion-select-option value="red">Red</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-grid padding>
        <ion-row>
          <ion-col>
            <ion-button color="warning">Finalizar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button>Reportar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
