<ion-content>
<ion-grid>
    <ion-row>
      <ion-col size="1">
        <ion-icon style="margin-top:10px;" name="arrow-dropleft-circle" size="large" color="primary"></ion-icon>
      </ion-col>
      <ion-col >
        <img src="/assets/icon/logo.png" style="padding-left:10px;">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        Solicitudes Aceptadas
      </ion-col>
      <ion-col size="3">
          <ion-toggle></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Solicitudes Rechazadas
      </ion-col>
      <ion-col size="3">
          <ion-toggle checked></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Servicios Cancelados
      </ion-col>
      <ion-col size="3">
          <ion-toggle checked></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Especialista Llego a Sitio
      </ion-col>
      <ion-col size="3">
          <ion-toggle checked></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Reportes Iniciales
      </ion-col>
      <ion-col size="3">
          <ion-toggle checked></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Reportes de Progreso
      </ion-col>
      <ion-col size="3">
          <ion-toggle checked></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Servicios Finalizados
      </ion-col>
      <ion-col size="3">
          <ion-toggle checked></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Servicios Liberados
      </ion-col>
      <ion-col size="3">
          <ion-toggle checked></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Resultados de Evaluaciones
      </ion-col>
      <ion-col size="3">
          <ion-toggle checked></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Servicios en Desacuerdo
      </ion-col>
      <ion-col size="3">
          <ion-toggle checked></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Servicios No Cerrados
      </ion-col>
      <ion-col size="3">
          <ion-toggle checked></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Recordatorio de Servicios
      </ion-col>
      <ion-col size="3">
          <ion-toggle checked></ion-toggle>
      </ion-col>
    </ion-row>
  </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col offset="4">
          <ion-button color="primary" size="small">
            Guardar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  
</ion-content>
