<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <ion-icon style="margin-top:10px;" name="arrow-dropleft-circle" size="large" color="primary"></ion-icon>
      </ion-col>
      <ion-col >
        <img src="/assets/icon/logo.png" style="padding-left:10px;">
      </ion-col>
    </ion-row>
  </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col align-self-center offset="2">
                <ion-icon name="call" size="large" color="primary"></ion-icon>
            </ion-col>
            <ion-col align-self-center>
              <ion-icon name="chatboxes"  size="large" color="success"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item>
          <ion-label position="floating">Ticket:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Tipo de Servicio:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Fecha de Servicio:</ion-label>
          <ion-datetime></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Estatus de Servicio:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Equipo:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descripción General de Servicio:</ion-label>          
          <ion-textarea></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Sección de Falla:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Frecuencia de Falla:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Severidad:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Plataforma:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Estatus de Equipo:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Fecha de Inicio de Servicio:</ion-label>       
          <ion-datetime></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Fecha de Finalización de servicio:</ion-label>
          <ion-datetime></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Tiempo de Trabajo Total:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Comentarios:</ion-label>          
          <ion-textarea></ion-textarea>
        </ion-item>
         <div #mapElement class="map"></div>
        
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button color="secondary" expand="full">Guardar</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="success" expand="full">Aceptar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button color="danger" expand="block" (click)="cancelaAlert()">Cancelar</ion-button>
</ion-content>
