<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <a href="#" (click)="goToBack()">
          <ion-icon
            style="margin-top:10px;"
            name="arrow-dropleft-circle"
            size="large"
            color="primary"
          ></ion-icon>
        </a>
      </ion-col>
      <ion-col>
        <img src="/assets/icon/logo.png" style="padding-left:10px;" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <div padding>
    <ion-button fill="clear" (click)="alive = !alive" size="small">
      <ion-text *ngIf="!alive">
        Filtro
      </ion-text>
      <ion-text *ngIf="alive">
        Ocultar
      </ion-text>
    </ion-button>
  </div>

  <div *ngIf="alive">
    <ion-item>
      <ion-label position="floating">Servicio:</ion-label>
      <ion-input [(ngModel)]="filter.servicio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Desde:</ion-label>
      <ion-datetime></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Hasta:</ion-label>
      <ion-datetime></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Estatus:</ion-label>
      <ion-select [(ngModel)]="filter.status">
        <ion-select-option value="Activo">Activo</ion-select-option>
        <ion-select-option value="Inactivo">Inactivo</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Soporte Técnico:</ion-label>
      <ion-toggle checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Mtto Preventivo:</ion-label>
      <ion-toggle checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Mtto Correctivo:</ion-label>
      <ion-toggle checked></ion-toggle>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col offset="4">
          <ion-button color="primary" size="small">
            <ion-icon name="search"></ion-icon>
            Buscar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-item>
    <ion-label position="floating">Ordenar Por:</ion-label>
    <ion-select>
      <ion-select-option value="Fecha" selected>Fecha</ion-select-option>
      <ion-select-option value="Estatus">Estatus</ion-select-option>
      <ion-select-option value="Ticket">Ticket</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-card
    *ngFor="let servicio of servicios"
    href="/servicio?servicio={{servicio.servicio}}"
  >
    <ion-item>
      <h2>Servicio #{{ servicio.servicio }}</h2>
    </ion-item>
    <ion-card-content>
      <ion-row>
        <ion-col>Estatus: {{ servicio.status }}</ion-col>
        <ion-col>Equipo: {{ servicio.equipo }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Especialista: Néstor López
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Fecha: {{ servicio.dateServicio }}</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
