<ion-content>
<ion-grid>
    <ion-row>
      <ion-col size="1">
        <ion-icon style="margin-top:10px;" name="arrow-dropleft-circle" size="large" color="primary"></ion-icon>
      </ion-col>
      <ion-col >
        <img src="/assets/icon/logo.png" style="padding-left:10px;">
      </ion-col>
    </ion-row>
  </ion-grid>
<ion-card>
  <ion-item>
    <h2>Servicio #12323</h2>
  </ion-item>
  <ion-card-content>
    <ion-row>
      <ion-col>
          <img src="/assets/shapes.svg" height="75" width="60">
      </ion-col>
      <ion-col>
        Una notal del especialista, demo, demo demo
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        30/09/2019
      </ion-col>
      <ion-col>
        Néstor López
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-item>
    <h2>Servicio #12324</h2>
  </ion-item>
  <ion-card-content>
    <ion-row>
      <ion-col>
          <img src="/assets/shapes.svg" height="75" width="60">
      </ion-col>
      <ion-col>
        Una notal del especialista, demo, demo demo
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        30/09/2019
      </ion-col>
      <ion-col>
        Néstor López
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-item>
    <h2>Servicio #12325</h2>
  </ion-item>
  <ion-card-content>
    <ion-row>
      <ion-col>
          <img src="/assets/shapes.svg" height="75" width="60">
      </ion-col>
      <ion-col>
        Una notal del especialista, demo, demo demo
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        30/09/2019
      </ion-col>
      <ion-col>
        Néstor López
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-item>
    <h2>Servicio #12326</h2>
  </ion-item>
  <ion-card-content>
    <ion-row>
      <ion-col>
          <img src="/assets/shapes.svg" height="75" width="60">
      </ion-col>
      <ion-col>
        Una notal del especialista, demo, demo demo
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        30/09/2019
      </ion-col>
      <ion-col>
        Néstor López
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
</ion-content>
