<ion-content>
  
  <ion-fab>
    <ion-fab-button color="success" size="small" href="/configuration">
      <ion-icon ios="ios-settings" md="md-settings"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab horizontal="end" vertical="top">
    <ion-fab-button color="secondary" size="small" href="/servicios">
          <ion-icon ios="ios-list-box" md="md-list-box"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-grid>
    <ion-row>
      <ion-col offset="3">
        <ion-fab 
            vertical="top" >
          <ion-fab-button class="fabMap" (click)="presentAlert()" color="light">
            <img src="/assets/images/boton.png">
          </ion-fab-button>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <div #mapElement id="mapElement" [ngClass]="classHtml" ></div>

  <ion-grid fixed *ngIf="servicios">
    <ion-row>
      <ion-col size="12">
        <ion-segment scrollable background="tertiary">
          <ion-segment-button 
            *ngFor="let servicio of servicios; let i=index "
            value ="{{ servicio}}"
            (click)="clickServicio(i)">
              <ion-label 
                style="padding-left:20px;padding-right:20px; font-weight:bold;">
                  {{ servicio.servicio }}
              </ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="hasNotes">
      <ol class="progress progress">
        <li class="is-nuevo" data-step="1">
          Nuevo
        </li>
        <li [ngClass]="numStatus >= 1 ? 'is-aceptado':'progress__last' " data-step="2">
          Aceptado
        </li>
        <li [ngClass]="numStatus >= 2 ? 'is-ruta':'progress__last' " data-step="3">
          En Ruta
        </li>
        <li data-step="4" [ngClass]="numStatus >= 3 ? 'is-progreso':'progress__last' ">
          En Progreso
        </li>
        <li data-step="5" [ngClass]="numStatus >= 4 ? 'is-finalizado':'progress__last'">
          Finalizado
        </li>
        <li data-step="6" [ngClass]="numStatus >= 5 ? 'is-aceptado':'progress__last'">
          Terminado
        </li>
      </ol>
      <ion-segment scrollable>
          <ion-segment-button >
              <ion-label 
                style="padding-left:20px;padding-right:20px; font-weight:bold;">
                  Nuevo
              </ion-label>
          </ion-segment-button>
        </ion-segment>
    </ion-row>
    <ion-row *ngIf="notas.length > 0">
      <div style="overflow: scroll !important; height:320px;">
        <ion-card *ngFor="let nota of notas; let i=index">
          <ion-card-content>
            <ion-row>
              <ion-col>
                  <a (click)="showImage(i)"><img src="{{nota.foto}}" height="75" width="60"></a>
              </ion-col>
              <ion-col>
                {{nota.mensaje}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                {{nota.fecha.toDate() | date:'dd-MM-yyyy HH:mm:ss'}}
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        </div>
    </ion-row>
  </ion-grid>
  
</ion-content>
