<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <ion-icon style="margin-top:10px;" name="arrow-dropleft-circle" size="large" color="primary"></ion-icon>
      </ion-col>
      <ion-col >
        <img src="/assets/icon/logo.png" style="padding-left:10px;">
      </ion-col>
    </ion-row>
  </ion-grid>
        <ion-item>
          <ion-label position="floating">Empresa:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Cliente:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Equipo:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Especialista:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Fecha Solicitud:</ion-label>
          <ion-datetime></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Hora Estimada de Llegada:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <div class="ion-text-center" 
        style="font-weight:bold; font-size:20px;"> 
          Contactar a Cliente<br>
          Néstor Lópéz
        </div>
         <ion-grid>
          <ion-row>
            <ion-col align-self-center offset="2">
                <ion-icon name="call" style="font-size:80px;" color="primary"></ion-icon>
            </ion-col>
            <ion-col align-self-center>
              <ion-icon name="chatboxes" style="font-size:80px;" color="success"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
</ion-content>
