<ion-header translucent>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <a (click)="goToBack()">
          <ion-icon
            style="margin-top:10px;"
            name="arrow-dropleft-circle"
            size="large"
            color="primary"
          ></ion-icon>
        </a>
      </ion-col>
      <ion-col>
        <img src="/assets/icon/logo.png" style="padding-left:10px;" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-progress-bar
    *ngIf="showLoad"
    type="indeterminate"
    reversed="true"
  ></ion-progress-bar>
   
<ion-card>
  <ion-card-content>
        <ion-label padding>Empresa:</ion-label>
        <ion-item>
          <ion-input [(ngModel)]="empresa.empresa"></ion-input>
        </ion-item>
        <ion-label padding>Nombre:</ion-label>
        <ion-item>
          <ion-input [(ngModel)]="empresa.name"></ion-input>
        </ion-item>
        <ion-label padding>Correo:</ion-label>
        <ion-item>
          <ion-input [(ngModel)]="empresa.email"></ion-input>
        </ion-item>
        <ion-label padding>Correo Alterno:</ion-label>
        <ion-item>
          <ion-input [(ngModel)]="empresa.emailAdicional"></ion-input>
        </ion-item>
        <ion-label padding>Teléfono:</ion-label>
        <ion-item>
          <ion-input [(ngModel)]="empresa.telefono"></ion-input>
        </ion-item>
        <ion-label padding>Celular:</ion-label>
        <ion-item>
          <ion-input [(ngModel)]="empresa.celular"></ion-input>
        </ion-item>
        <ion-label padding>Dirección:</ion-label>
        <ion-item>
          <ion-input [(ngModel)]="empresa.direccion"></ion-input>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col offset="3">
              <ion-button color="primary" size="small" (click)="enviarCambios()">
                Solicitar Cambios
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      
    </ion-card-content>
  </ion-card>
</ion-content>
